button {
    background-color: var(--gray-50);
    color: var(--gray-900);
    margin: 0.5rem 0.5rem;
    padding: 0.5rem 1rem;
    max-width: 10rem;
    border: 0;
    border-radius: 0.1rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    cursor: pointer;

    flex: 1 1 auto;
}

button.active {
    background-color: var(--gray-500);
    color: var(--gray-50);
}

button.warning {
    background-color: var(--gray-600);
    color: var(--gray-50);
}
