.oscillator {
    border: 0.1rem solid black;
    max-width: 300px;
    display: flex;
    flex-flow: column nowrap;

    .oscillator__title {
        text-align: right;
        margin: 0.5rem;
    }

    .oscillator__item {
        padding: 1rem;
        border-top: 0.1rem solid black;
        align-self: stretch;

        display: flex;
        justify-content: space-around;

        &--column {
            flex-flow: column wrap;
        }
    }
}
