// Theming
$primary: cyan !default;
$secondary: magenta !default;
$white: #fff !default;
$black: #000 !default;
$dark: #2c2d2f !default;
// Accessible Semantic SCSS / Vanilla Number Input Knob / Potentiometer
$knob-d: 4em !default;
$knob-border-c: #181b1c !default;
$knob-border-w: 0.3em !default;
$knob-ind-w: 0.3em !default;
$knob-bg-c: $dark !default;
$knob-ind-c: #181b1c !default;
$knob-ind-focus-c: $primary !default;
$knob-label-c: #e4e8ea !default;
$knob-font: Lucida Console, Lucida Sans Typewriter, monaco,
    Bitstream Vera Sans Mono, monospace;

// Box model reset
*,
*::before,
*::after {
    box-sizing: border-box;
}

.knob {
    --knob-deg: 0;
    display: inline-block;
    position: relative;
    padding: 0;
    margin: 1rem;
    padding-bottom: 2em;
    width: $knob-d;
    border: 0;
    text-align: center;
    touch-action: none;
    font-size: 1rem; // Knob sizing

    &.small {
        font-size: 0.72rem;
        margin: 0.5rem;
    }
    &.big {
        font-size: 1.5rem;
    }

    data {
        position: absolute;
        top: calc($knob-d/.55) - 0.7em;
        left: 0;
        width: 100%;
        font-size: 0.55em;
        line-height: 2.5;
        &::before,
        &::after {
            position: absolute;
        }
        &::before {
            content: attr(data-min);
            left: 0;
        }
        &::after {
            content: attr(data-max);
            right: 0;
        }
    }

    input {
        appearance: textfield;
        -moz-appearance: textfield; // if not autoprefixed
        position: relative;
        left: 0;
        top: 0;
        display: block;
        width: calc($knob-d/.75);
        height: $knob-border-w * 3;
        font: inherit;
        font-size: 0.75em;
        line-height: 1;
        color: currentColor;
        text-align: center;
        font-variant-numeric: tabular-nums lining-nums;
        background-color: transparent;
        border: 0;
        margin: calc($knob-d/.75) + 1em 0 0 0;
        padding: 0;
        outline: 0;
        cursor: default;
        z-index: 2;
        caret-color: currentColor;
        &:placeholder {
            opacity: 1;
            color: currentColor;
        }
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        &::selection {
            color: currentColor;
            background-color: $knob-ind-focus-c;
        }
        &[disabled],
        &[readonly] {
            cursor: not-allowed;
            & ~ *,
            & ~ *::before,
            & ~ *::after {
                pointer-events: none;
            }
            &::selection {
                background-color: transparent;
            }
        }
    }
    label {
        position: absolute;
        left: 0;
        top: 0;
        display: inline-block;
        width: 100%;
        height: 100%;
        overflow: hidden;
        padding-top: $knob-d + 2em;
        font-size: 1em;
        white-space: nowrap;
        text-overflow: ellipsis;
        z-index: 1;
        pointer-events: none;
        &::before,
        &::after {
            position: absolute;
            display: inline-block;
        }
        &::before {
            content: '';
            left: 50%;
            top: $knob-border-w;
            width: $knob-d - $knob-border-w;
            height: $knob-d - $knob-border-w;
            border: $knob-border-w solid $knob-border-c;
            border-radius: 100%;
            background: linear-gradient(to bottom, black 0% 100%) no-repeat 50%
                0%;
            background-size: 0.2em 1em;
            transform-origin: center center;
            transform: translateX(-50%) rotate(0deg); // Fallback
            transform: translateX(-50%) rotate(calc(1deg * var(--knob-deg)));
            cursor: default;
            // cursor: n-resize;
            pointer-events: fill;
        }
    }
    svg {
        position: absolute;
        left: 50%;
        top: 0;
        width: $knob-d + $knob-border-w;
        height: $knob-d + $knob-border-w;
        transform: translateX(-50%);
        stroke-dasharray: 184 184;
        fill: none;
        stroke: currentColor;
        z-index: 3;
        cursor: 'ew-resize';

        path {
            stroke-width: $knob-ind-w;
            stroke-dashoffset: 0;
            visibility: visible;
            pointer-events: stroke;
            transition: all 0.1s cubic-bezier(0, 0, 0.2, 1);
            &:first-of-type {
                stroke: $knob-ind-focus-c;
                stroke-width: 0.2em;
            }
            &:last-of-type {
                stroke: $knob-ind-c;
                stroke-dashoffset: -97;
            }
        }
    }
}
