.synth-pad {
    display: block;
    border-radius: 3px;
    background: #1e1e1e
        url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAIUlEQVQYV2P8+vWrJAMRgBGkkJub+zkhtaMK8YYQ0cEDABxGJwNr5yClAAAAAElFTkSuQmCC);
}

.synth-pad:hover {
    cursor: crosshair;
}

.synthpad__grid:hover {
    cursor: crosshair;
}
